@media screen and (max-width: 520px) {
    .about__portfolio-link {
        font-size: 10px;
    }
}

@media screen and (min-width: 521px) and (max-width: 640px) {
    .about__portfolio-link {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    .about__portfolio-link {
        font-size: 14px;
    }
}