/*  --------------  ССЫЛКИ  --------------  */

.link-animation {
    text-decoration: none;
    color: #000;
    font-style: italic;
    transition: color 0.3s linear;
    position: relative;
    margin-top: 20px;
}
.link-animation:hover {
    color: #2f80ed;
}
.link-animation::before {
    content: '';
    width: 0;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: width 0.3s linear;
}

.link-animation:hover::before {
    width: 100%; 
    background: #2f80ed;   
}
